.header {
  box-shadow: 0 4px 2px -2px gray;
}

.logoutButton {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton:hover {
  opacity: 1 !important;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
